<div class="custom-table-container" [ngClass]="{ dense: dense }">
  <div class="custom-table-header-container">
    <div class="custom-table-header-wrapper">
      <span class="custom-table-header-title">{{ title }}</span>
      <hr />
      <div class="spacer"></div>
      <mat-form-field
        class="full-width hide-details"
        [ngStyle]="{
          marginRight: refHeaderOption.hasChildNodes() ? '16px' : false
        }"
        appearance="outline"
      >
        <mat-icon matPrefix style="color: rgba(0, 0, 0, 0.54)">search</mat-icon>
        <mat-label>Search</mat-label>
        <input
          [(ngModel)]="searchValue"
          autocomplete="new-username"
          matInput
          type="text"
          (input)="onSearchInput()"
        />
      </mat-form-field>
      <div #refHeaderOption class="custom-table-header-option">
        <ng-content select="[headerOption]"></ng-content>
      </div>
    </div>
  </div>
  <div class="custom-table-wrapper">
    <table>
      <thead>
        <tr>
          <th
            *ngFor="let header of headers"
            [ngClass]="{
              sortable: header.sort || header.sortValue ,
              active: ![null, undefined].includes(header.sortValue)
            }"
            (click)="onSort(header)"
          >
            <span>{{ header.text }}</span>

            <span *ngIf="header.sort ? header.sortValue : sort" class="icon"
              ><svg
                [ngStyle]="{
                  transform: [null, undefined, 'ASC'].includes(header.sortValue)
                    ? null
                    : 'rotate(180deg)',
                  opacity: ![null, undefined].includes(header.sortValue)
                    ? '1'
                    : null
                }"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 320 512"
              >
                <defs>
                  <style>
                    .fa-secondary {
                      opacity: 0.4;
                    }
                  </style>
                </defs>
                <path
                  class="fa-primary"
                  d="M27.66 224h264.7c24.6 0 36.89-29.78 19.54-47.12l-132.3-136.8c-5.406-5.406-12.47-8.107-19.53-8.107c-7.055 0-14.09 2.701-19.45 8.107L8.119 176.9C-9.229 194.2 3.055 224 27.66 224z"
                />
                <svg:path
                  class="fa-secondary"
                  [attr.d]="
                    'M292.3 288H27.66c-24.6 0-36.89 29.77-19.54 47.12l132.5 136.8C145.9 477.3 152.1 480 160 480c7.053 0 14.12-2.703 19.53-8.109l132.3-136.8C329.2 317.8 316.9 288 292.3 ' +
                    ([null, undefined].includes(header.sortValue)
                      ? '288z'
                      : '288zM160.1 400L113.6 352h92.95L160.1 400z')
                  "
                ></svg:path>
              </svg>
            </span>
            <span
              *ngIf="multiSort && sortIndex(header) >= 1"
              style="
                display: inline-flex;
                justify-content: center;
                align-items: center;
                border: 0;
                border-radius: 50%;
                min-width: 18px;
                min-height: 18px;
                height: 18px;
                width: 18px;
                background-color: rgba(0, 0, 0, 0.12);
                color: rgba(0, 0, 0, 0.87);
              "
            >
              {{ sortIndex(header) }}</span
            >
          </th>
          <th *ngIf="action != undefined">Option</th>
        </tr>
      </thead>
      <tbody style="padding: 1px 0">
        <ng-container *ngIf="listsPaginate.length > 0">
          <tr *ngFor="let item of listsPaginate">
            <td *ngFor="let header of headers">
              {{ item[header.value] }}
            </td>
            <td *ngIf="action != undefined && !loading">
              <ng-container
                select="[rowOption]"
                *ngTemplateOutlet="action; context: { data: item }"
              ></ng-container>
            </td>
          </tr>
        </ng-container>
        <tr *ngIf="listsPaginate.length <= 0">
          <td [colSpan]="headers.length + 1" style="text-align: center">
            No
            {{
              filteredStatus == "" ? "records found" : "matching records found"
            }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="custom-table-footer-container">
    <div class="custom-table-footer-select">
      Rows per page:
      <mat-form-field
        class="hide-details"
        style="
          margin: 13px 0 13px 34px;
          flex: 0 1 0;
          padding: 0;
          position: static;
          width: 46px;
        "
      >
        <mat-select [(ngModel)]="limitRows" (valueChange)="pageIndex = 1">
          <mat-option *ngFor="let rowItem of rowItems" [value]="rowItem">{{
            rowItem
          }}</mat-option>
          <mat-option value="-1"> All </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="pagination">
      {{ rowsInfo }}
    </div>
    <div class="icons-before">
      <button
        class="mat-elevation-z0 menu"
        mat-mini-fab
        [disabled]="pageIndex == 1"
        (click)="onTogglePage(-1)"
      >
        <mat-icon>chevron_left</mat-icon>
      </button>
    </div>
    <div class="icons-after">
      <button
        class="mat-elevation-z0 menu"
        mat-mini-fab
        [disabled]="statusNextPage"
        (click)="onTogglePage(1)"
      >
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </div>
</div>
